[
    {
        "country":"germany",
        "league":"bundesliga"        
    },
    {
        "country":"germany",
        "league":"2-bundesliga"        
    },
    {
        "country":"england",
        "league":"premier-league"        
    },
    {
        "country":"england",
        "league":"championship"
    },
    {
        "country":"france",
        "league":"ligue-1"
    },
    {
        "country":"france",
        "league":"ligue-2"
    },
    {
        "country":"spain",
        "league":"laliga"
    },
    {
        "country":"spain",
        "league":"laliga2"
    },
    {
        "country":"italy",
        "league":"serie-a"
    },
    {
        "country":"italy",
        "league":"serie-b"
    },
    {
        "country":"usa",
        "league":"mls"
    },
    {
        "country":"belgium",
        "league":"jupiler-pro-league"
    },
    {
        "country":"netherlands",
        "league":"eredivisie"
    },
    {
        "country":"portugal",
        "league":"liga-portugal"
    },
    {
        "country":"argentina",
        "league":"torneo-betano"
    }
]